# .NET
.vs/
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files for tools
*.vsix

# JetBrains Rider
.idea/

# User-specific files for Visual Studio for Mac
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Windows image file caches
Thumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp